body{
    margin: 0px;
    padding: 0px;
}
header{
    width: 100%;
    
}
header nav{
    width: fit-content;
    margin: auto;

} 
header nav ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
header nav ul li{
    display: inline-block;
    padding: 5px 10px;
}
header nav ul li a{
    color:black;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 16px;

}
button{
    border: none;
    
    font-size: 20px;
    
}
.name1{
  
    font-size: 50px;
    color: chocolate;
}
.header{
    margin: 40px;
    display: flex;
    justify-content: space-between;
}

button{
    color: chocolate;
}
i.fa-circle-user{
    color: chocolate;
}
a{
    color: chocolate;
    text-decoration: none;
}

h1{
    color:white;
    font-size: 41px;
  
    
}
.veb2{
    border: 1px solid white;
}

.baner{
    width: 1900px;
    height: 750px;
    background-image: url(" https://static.wixstatic.com/media/ea71bb_f6afb11f2c8f406ca1c8993c2eca99e7~mv2_d_11495_6131_s_4_2.jpg/v1/fill/w_2543,h_719,al_t,q_85,usm_0.66_1.00_0.01,enc_auto/ea71bb_f6afb11f2c8f406ca1c8993c2eca99e7~mv2_d_11495_6131_s_4_2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.right-side{
    display: flex;

}
.social-media{
    margin-right: 25px;
}
.login{
    margin-right: 25px;
}
article{
    width: 1900px;
    height: 750px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}
.shoping{
    color: white;
    border: 1px solid white;
    padding: 15px 35px;

}





